Package: jp.r-plus.swipeshiftcaret
Name: SwipeShiftCaret
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 0.2.3
Architecture: iphoneos-arm
Description: caret micromanager via swipes
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: r_plus <anasthasia.r+swipeshiftcaret@gmail.com>
Section: Tweaks
dev: rplus
Priority: optional
Tag: purpose::extension
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=swipeshiftcaretDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=swipeshiftcaretDp
Sponsor: thebigboss.org <http://thebigboss.org>
