Package: jp.r-plus.swipeshiftcaret
Name: SwipeShiftCaret
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 0.1.1
Architecture: iphoneos-arm
Description: Caret micromanager via swipe
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: r_plus <anasthasia.r+swipeshiftcaret@gmail.com>
Section: Tweaks
dev: rplus
Priority: optional
Tag: purpose::extension
