Package: jp.r-plus.swipeshiftcaret
Name: SimpleSwipeShiftCaret
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 1.0
Architecture: iphoneos-arm
Description: caret micromanager via swipes
Maintainer: r_plus <anasthasia.r+simpleswipeshiftcaret@gmail.com> 
Author: r_plus <anasthasia.r+simpleswipeshiftcaret@gmail.com>
Section: Tweaks
dev: rplus
Priority: optional
Tag: purpose::extension
