Package: jp.r-plus.swipeshiftcaret
Name: SwipeShiftCaret
Depends: mobilesubstrate, preferenceloader (>= 2.1.0), firmware (>= 4.0)
Version: 1.6.3
Architecture: iphoneos-arm
Description: Caret micromanager via swipes
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: r_plus <anasthasia.r+swipeshiftcaret@gmail.com>
Section: Tweaks
dev: rplus
Priority: optional
Tag: purpose::extension
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=swipeshiftcaretDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=swipeshiftcaretDp
Sponsor: thebigboss.org <http://thebigboss.org>
Icon: file:///Library/PreferenceLoader/Preferences/SwipeShiftCaret@2x.png
